.collection-page {
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  max-width: calc(100vw - 4rem);
}
.collection-page.empty {
  align-items: center;
}

.collection-page h2 {
  word-break: break-word;
  text-align: center;
}

.preview-main-selector {
  font-size: 1.2rem;
  margin: 3rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.collection-page-sidebar {
  background: hsla(0, 0%, 0%, 0.2);
  border-right: 1px solid hsla(0, 0%, 50%, 0.2);
  margin: 2rem 0 0;
  padding: 0.5rem;
  max-width: 18rem;
  overflow-x: auto;
  flex-shrink: 1.3;
}
.collection-page-sidebar h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.stats-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: 0.5rem;
}
.collection-page-sparkline {
  flex-basis: 12rem;
}
.big-stat {
  font-size: 1.5rem;
}

.collection-page .browse-all {
  margin-top: 2rem;
}
.collection-page .browse-all:not(:hover) {
  opacity: 0.5;
}
.collection-page .browse-all a {
  font-size: 0.85rem;
}

.collection-record-sample {
  border-radius: 0 0 0.5rem 0.5rem;
  background: #111;
  padding: 0.25rem 0.5rem 0.5rem;
  margin: 0 0 1em;
}
.collection-sample-meta {
  /*background: hsla(0, 0%, 0%, 0.2);*/
  background: #111;
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem 0 0;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.2);
  display: flex;
  justify-content: space-between;
}
.collection-sample-actions {
  display: flex;
  gap: 1em;
}
.collection-sample-meta .ago {
  color: #888;
}

.collection-record-sample-json {
  word-break: break-word;
  white-space: pre-wrap;
}

.preview-api {
  margin: 3rem 0;
}
.preview-api h4 {
  margin: 2rem 0 1rem;
}
.preview-api-example {
  font: inherit;
  background: #111;
  padding: 0.5rem;
  color: #999;
  word-break: break-word;
  white-space: pre-wrap;
}
.preview-api-example a {
  color: inherit;
}
.preview-api-example .method {
  color: hsl(330, 81%, 60%);
}
.preview-api-example .host {
  color: hsl(280, 94%, 72%);
}
.preview-api-example .path {
  color: hsl(210, 94%, 72%);
}
.preview-api-example .var {
  color: #64ff6c;
  opacity: 0.75;
}


.coming-soon {
  margin: 3rem 0 5rem;
  font-style: italic;
  max-width: 36rem;
}

@media screen and (max-width: 600px) {
  .collection-page {
    flex-direction: column;
    max-width: calc(100vw - 2rem);
  }
  .collection-page-sidebar {
    box-sizing: border-box;
    overflow: auto;
    max-width: 100%;
    max-height: 8rem;
  }
  .collection-page h2 {
    font-size: 1.2rem;
    word-break: break-word;
  }
}