.collection-page {
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  max-width: calc(100vw - 4rem);
}
.collection-page.empty {
  align-items: center;
}

.collection-page-sidebar {
  background: #111;
  margin: 2rem 0 0;
  padding: 0.5rem;
  max-width: 18rem;
  overflow-x: auto;
}
.collection-page-sidebar h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.collection-page-sparkline {
  flex-basis: 12rem;
}
.big-stat {
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .collection-page {
    flex-direction: column;
    max-width: calc(100vw - 2rem);
  }
  .collection-page-sidebar {
    box-sizing: border-box;
    overflow: auto;
    max-width: 100%;
    max-height: 8rem;
  }
  .collection-page h2 {
    font-size: 1.2rem;
    word-break: break-word;
  }
}