
button {
  cursor: pointer;
}
button:focus-visible {
  cursor: pointer;
  outline: 4px auto -webkit-focus-ring-color;
}

button {
  font: inherit;
}

button.subtle {
  background: transparent;
  border: 0;
  padding: 0 0.5rem;
  transition: background 0.19s, color 0.19s;
}
button.subtle:hover {
  color: inherit;
  background: hsla(0, 0%, 0%, 0.3);
}

.button-group.vertical {
  display: flex;
  flex-direction: column;
}

.button-group > button {
  color: #888;
}
.button-group > button.current {
  font-weight: bold;
  color: #99bb77;
}
.button-group > button.current.subtle {
  background: #111; /*hsla(0, 0%, 0%, 0.2);*/
}

@media screen and (max-width: 600px) {
  button.subtle {
    font-size: 0.85rem;
  }
}
