button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0 0.5rem;
}
button:not(.subtle) {
  background: #111;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
  border-radius: 0.5rem;
}

button.subtle {
  background: transparent;
  border: 0;
}
button.subtle:hover {
  color: inherit;
  background: hsla(0, 0%, 0%, 0.3);
}

button.big {
  padding: 0.25rem 0.75rem;
}

.button-group.vertical {
  display: flex;
  flex-direction: column;
}

.button-group > button {
  color: #888;
}
.button-group > button.current {
  font-weight: bold;
  color: #99bb77;
}
.button-group > button.current.subtle {
  background: #111; /*hsla(0, 0%, 0%, 0.2);*/
}

@media screen and (max-width: 600px) {
  button.subtle {
    font-size: 0.85rem;
  }
}
