.nsid-nice.subtle {
  opacity: 0.5;
}
.nsid-nice.subtle:hover {
  opacity: 0.8;
}
.nsid-nice.subtle:hover .nsid-tld,
.nsid-nice:not(.subtle) .nsid-tld {
  color: hsl(330, 81%, 60%);
}
.nsid-nice.subtle:hover .nsid-app,
.nsid-nice:not(.subtle) .nsid-app {
  color: hsl(280, 94%, 72%);
}
.nsid-nice.subtle:hover .nsid-mids,
.nsid-nice:not(.subtle) .nsid-mids {
  color: hsl(0, 0%, 72%);
}
.nsid-nice.subtle:hover .nsid-group,
.nsid-nice:not(.subtle) .nsid-group {
  color: hsl(210, 94%, 72%);
}
.nsid-nice.subtle:hover .nsid-name,
.nsid-nice:not(.subtle) .nsid-name {
  color: #64ff6c;
  opacity: 0.75;
}

.nsid-name .nsid-tld {
  color: hsl(0, 0%, 50%);
}
.nsid-name .nsid-app {
  color: hsl(0, 0%, 50%);
}
.nsid-name .nsid-mids {
  color: hsl(0, 0%, 50%);
}
.nsid-name .nsid-group {
  color: hsl(210, 94%, 72%);
}
.nsid-name .nsid-name {
  color: #64ff6c;
  opacity: 0.75;
}

.nsid-prefix .nsid-tld {
  color: hsl(0, 0%, 50%);
}
.nsid-prefix .nsid-app {
  color: hsl(0, 0%, 50%);
}
.nsid-prefix .nsid-mids {
  color: hsl(0, 0%, 50%);
}
.nsid-prefix .nsid-group {
  color: hsl(210, 94%, 72%);
}

.nsid-bad-bit {
  color: #c66;
}
