.search-input .input-group {
  display: flex;
  max-width: calc(100vw - 2rem);
  justify-content: center;
}

.search-input .input-group input,
.search-input .input-group button {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1.4rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  border: 2px solid #2a2330;
}

.search-input .input-group input {
  min-width: 200px;
  flex-shrink: 1;
  padding: 0.25rem 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 1px;
  background: #111;
}
.search-input .input-group input:focus {
  outline: none;
  background: #000;
  border-color: #3a2340;
}

.search-input .input-group button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 1px;
  padding: 0.25rem 1rem;
  color: #888;
}

.search-input .eg,
.search-input .searching {
  font-size: 0.85rem;
  display: flex;
  gap: 0.5rem;
  color: #888;
  padding-left: calc(1rem + 2px);
  margin: 0;
}
.search-input .eg a {
  opacity: 0.5;
}
.search-input .eg a:hover {
  opacity: 1;
}
.search-input .eg li {
  list-style: none;
}
.search-input .eg .contraband {
  color: hsl(330, 81%, 60%);
}

.search-input .search-result-item {
  display: block;
  background: #111;
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;
}

.search-input .search-result-item.ghost {
  opacity: 0.5;
}
.search-input .search-result-item .ghosty::before {
  content: "👻";
}

.search-input .search-result-item .bar {
  color: #888;
}

@media screen and (max-width: 600px) {
  .search-input .input-group input,
  .search-input .input-group button {
    font-size: 1rem;
  }
  .search-input .eg {
    justify-content: center;
    padding: 0.5rem 0;
  }
}
