#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
}

.header {
  display: flex;
  align-items: baseline;
}

.header h1 a {
  color: #fff;
}

.dev-shortcut {
  opacity: 0.666;
  position: absolute;
  top: 0;
  right: 2rem;
}

.dev-shortcut a.active  {
  color: yellow;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  #root {
    padding: 2rem 1rem;
  }
}
