:root {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: normal;
  line-height: 1.5rem;

  color-scheme: light dark;
  color: #e6ece6;
  background-color: #221828;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #64ff6c;
  text-decoration: inherit;
}
a:hover {
  font-weight: bold;
  color: #85ff4b;
}
a.external {
  color: skyblue;
}
a.external:after {
  content: "↗";
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  min-width: 320px;
}

h1 {
  font-size: 2em;
  line-height: 3rem;
  margin: 0;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.5rem;
  margin: 2rem 0 0;
}

h3 {
  line-height: 1.5rem;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0.75rem 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #31253e;
    background-color: #fcfffc;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f0f6f0;
  }
}
